<div class="wrapper">

    <!-- Navbar -->
    <app-header (startForm)="startForm($event)"></app-header>
    <!-- /.navbar -->


    <main id="main">


        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>
                        CHÍNH SÁCH QUYỀN RIÊNG TƯ
                    </h2>

                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <section class="contact">


            <div class="container ">


                <h2><span id="Chinh_sach_ve_quyen_rieng_tu">NGUYÊN TẮC VỀ QUYỀN RIÊNG TƯ CỦA CHÚNG TÔI</span></h2>



                <p>Chúng tôi tôn trọng quyền riêng tư của mỗi cá nhân, vì thế chúng tôi luôn cố gắng bảo vệ toàn
                    bộ thông tin của mọi người. Chính sách về quyền riêng tư sẽ thể hiện quá trình chúng tôi thu thập,
                    chuyển đổi, xử lý và sử dụng</p>



                <p>Bằng việc cung cấp thông tin cá nhân, bạn đã đồng ý và chấp nhận việc trao đổi, xử lý, sử dụng và
                    công bố thông tin được đề cập tại Chính sách này.</p>



                <p>Bạn có thể thấy thông tin về chính sách quyền riêng tư tại mục footer trên website SangLocSom.
                </p>



                <h2><span id="Chung_toi_thu_thap_gi">Chúng tôi thu thập gì?</span></h2>



                <p>Chúng tôi sẽ thu thập thông tin cá nhân mà bạn cung cấp, các thông tin này sẽ thể hiện rằng bạn là
                    một người dùng cá nhân. Việc thu thập trên chỉ được thực hiện nếu bạn đồng ý yêu cầu của chúng tôi.
                    Thông tin này có thể bao gồm:</p>



                <ul>
                    <li>Họ tên</li>
                    <li>Địa chỉ</li>
                    <li>Số điện thoại</li>
                    <li>Địa chỉ email</li>
                    <li>Ngày tháng năm sinh</li>
                    <li>Nơi sinh</li>
                    <li>Giới tính</li>
                </ul>



                <h2><span id="Chung_toi_su_dung_thong_tin_ca_nhan_ra_sao">Chúng tôi sử dụng thông tin cá nhân ra
                        sao?</span></h2>



                <p>Bằng việc cung cấp thông tin cá nhân, bạn đồng ý với việc nếu pháp luật tại địa phương hoặc tại nơi
                    bạn nhận thông tin cho phép, chúng tôi sẽ dùng thông tin đó để thực hiện các công việc sau:</p>



                <ul>
                    <li>Trả lời các yêu cầu của bạn</li>
                    <li>Cải thiện dịch vụ của chúng tôi</li>
                    <li>Nâng cấp thông tin trên các phương tiện truyền thông</li>
                    <li>Thông báo về sản phẩm và dịch vụ mới</li>
                    <li>Đánh giá các hồ sơ sàng lọc sớm</li>
                    <li>Cho các mục đích quản trị và đảm bảo chất lượng sản phẩm của chúng tôi</li>
                    <li>Cho các mục đích khác được liệt kê chi tiết trên web hoặc các ứng dụng đi động</li>
                </ul>



                <h2><span id="Chung_toi_Bao_mat_thong_tin_nhu_the_nao">Chúng tôi Bảo mật thông tin như thế nào?</span>
                </h2>



                <p>SAngLocSom sẽ luôn bảo mật thông tin cá nhân của bạn nhưng chúng tôi không đảm bảo sự an toàn
                    các thông tin bạn tải lên web hoặc qua ứng dụng di động: Bạn sẽ chịu rủi ro về các thông tin được
                    tải lên. Vì chúng tôi không thể đảm bảo tuyệt đối không có việc rò rỉ thông tin, sử dụng sai mục
                    đích hoặc thay đổi dữ liệu, nên ngay khi nhận được thông tin của bạn, chúng tôi sẽ sử dụng các biện
                    pháp bảo mật chuyên môn để phòng tránh các sự cố nêu trên xảy ra.</p>



                <h2><span id="CHIA_SE_THONG_TIN_VOI_BEN_THU_BA">CHIA SẺ THÔNG TIN VỚI BÊN THỨ BA</span></h2>



                <p>Chúng tôi cam kết sẽ không chia sẻ thông tin của bạn sang đơn vị thứ 3 hay bất kể đơn vị nào khác.
                </p>



                <h2><span id="Thay_doi_chinh_sach">Thay đổi chính sách</span></h2>



                <p>Chính sách quyền Riêng tư này đôi khi được cập nhật. Nếu sự thay đổi có tính chất quan trọng, chúng
                    tôi sẽ đăng thông báo trên trang web hoặc các ứng dụng và các thỏa thuận cấp phép liên quan. Chúng
                    tôi khuyến khích bạn nên thường xuyên tham khảo Chính sách Quyền Riêng Tư để cập nhật thông tin mới
                    nhất về việc chúng tôi bảo mật thông tin cá nhân thu thập được. Việc bạn tiếp tục sử dụng website
                    đồng nghĩa với việc chấp thuận điều khoản quyền Riêng tư và các cập nhật của Chính sách này. Những
                    thay đổi trong chính sách không áp dụng với các dữ liệu được thu thập trước đó.</p>



                <p>Chính sách quyền Riêng tư mới nhất của SangLocSom cập nhập mới nhất vàotháng 11 năm 2022</p>

            </div>

        </section>
    </main><!-- End #main -->


    <!-- Main Footer -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->