--
-- PostgreSQL database dump
--

\restrict 26prnXcq5HggFlv4xKozNhaX0XXrRRUAZR2LaarUrnt1FkImcUu0alVqYrxuBjw

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_check_dataset(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_check_dataset(p_personid integer) RETURNS character varying
    LANGUAGE plpgsql
    AS $$
  DECLARE
    aggregated_string text;
    BEGIN
  -- Routine body goes here...
  
with cte as 
(SELECT  ds.name, ds.minscore, ds.maxscore
from form_instance ins 
inner join form_instance_value v on ins.id = v.forminstanceid
inner join datasetmember dsm on v.datasetmemberid = dsm.id 
inner join dataset ds on dsm.datasetid = ds.id 
where ins.id = p_personid

group by ds.name, ds.minscore, ds.maxscore
having sum(fn_score(v."value", dsm.valuelist)) < ds.minscore
  or sum(fn_score(v."value", dsm.valuelist)) > ds.maxscore
  )
select  STRING_AGG(name, ', ') 
INTO aggregated_string
from cte;
return aggregated_string;

END
$$;


ALTER FUNCTION public.fn_check_dataset(p_personid integer) OWNER TO postgres;

--
-- Name: fn_score(character varying, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fn_score(p_value character varying, p_list character varying) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
  
    DECLARE
    my_item TEXT[];
    _elem TEXT;
    _score TEXT;
  
  BEGIN
  
  _score := null;
  FOREACH _elem IN ARRAY STRING_TO_ARRAY(p_list, ';')
  LOOP 
   
    my_item := STRING_TO_ARRAY(_elem, '::');
    IF p_value = my_item[1] THEN 
    
      _score := my_item[3];
    END IF;


  END LOOP;
  
  
  return _score::numeric;


END
$$;


ALTER FUNCTION public.fn_score(p_value character varying, p_list character varying) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: SequelizeData; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeData" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeData" OWNER TO postgres;

--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO postgres;

--
-- Name: admin_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_roles (
    id integer NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    description character varying(255),
    permissions character varying(255)[] DEFAULT (ARRAY[]::character varying[])::character varying(255)[] NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.admin_roles OWNER TO postgres;

--
-- Name: admin_roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_roles_id_seq OWNER TO postgres;

--
-- Name: admin_roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_roles_id_seq OWNED BY public.admin_roles.id;


--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    "fullName" character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    status character varying(255) DEFAULT 'active'::character varying NOT NULL,
    "phoneNumber" character varying(255),
    birthday timestamp with time zone,
    gender character varying(255),
    "adminRoleId" integer,
    orgunitid integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.admin_users OWNER TO postgres;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO postgres;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: dataelement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dataelement (
    id integer NOT NULL,
    code character varying(512),
    name text,
    itemlist text
);


ALTER TABLE public.dataelement OWNER TO postgres;

--
-- Name: dataelement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dataelement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dataelement_id_seq OWNER TO postgres;

--
-- Name: dataelement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dataelement_id_seq OWNED BY public.dataelement.id;


--
-- Name: dataset; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dataset (
    id integer NOT NULL,
    code character varying(50),
    name character varying(50),
    minscore numeric(18,2),
    maxscore numeric(18,2),
    note text,
    explain text
);


ALTER TABLE public.dataset OWNER TO postgres;

--
-- Name: dataset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dataset_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dataset_id_seq OWNER TO postgres;

--
-- Name: dataset_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dataset_id_seq OWNED BY public.dataset.id;


--
-- Name: datasetmember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.datasetmember (
    id integer NOT NULL,
    datasetid integer,
    dataelementid integer,
    controltype character varying(50),
    valuelist text,
    orderno integer,
    dataelementname text,
    score numeric(18,0)
);


ALTER TABLE public.datasetmember OWNER TO postgres;

--
-- Name: datasetmember_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.datasetmember_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.datasetmember_id_seq OWNER TO postgres;

--
-- Name: datasetmember_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.datasetmember_id_seq OWNED BY public.datasetmember.id;


--
-- Name: form; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form (
    id integer NOT NULL,
    code character varying(50),
    name character varying(512),
    programid integer,
    filterfrom character varying(50),
    filterto character varying(50),
    explain text
);


ALTER TABLE public.form OWNER TO postgres;

--
-- Name: form_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.form_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.form_id_seq OWNER TO postgres;

--
-- Name: form_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.form_id_seq OWNED BY public.form.id;


--
-- Name: form_instance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_instance (
    id integer NOT NULL,
    name character varying(255),
    birthday character varying(255),
    address character varying(2000),
    months integer,
    description character varying(2000),
    ispasses boolean,
    gender boolean,
    parentname character varying(255),
    phone character varying(50),
    surveyby character varying(255),
    surveyplace character varying(255),
    periodid integer,
    orgunitid integer,
    provinceid integer,
    districtid integer,
    personid integer,
    formid integer,
    createddate timestamp with time zone,
    createdby character varying(255),
    updateddate timestamp with time zone,
    updatedby character varying(255),
    surveynote character varying(255)
);


ALTER TABLE public.form_instance OWNER TO postgres;

--
-- Name: form_instance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.form_instance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.form_instance_id_seq OWNER TO postgres;

--
-- Name: form_instance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.form_instance_id_seq OWNED BY public.form_instance.id;


--
-- Name: form_instance_value; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_instance_value (
    id integer NOT NULL,
    forminstanceid integer,
    datasetmemberid integer,
    value character varying(2000),
    createddate timestamp with time zone,
    createdby character varying(255),
    updateddate timestamp with time zone,
    updatedby character varying(255),
    dataelementid integer
);


ALTER TABLE public.form_instance_value OWNER TO postgres;

--
-- Name: form_instance_value_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.form_instance_value_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.form_instance_value_id_seq OWNER TO postgres;

--
-- Name: form_instance_value_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.form_instance_value_id_seq OWNED BY public.form_instance_value.id;


--
-- Name: formmember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.formmember (
    id integer NOT NULL,
    formid integer,
    datasetid integer,
    orderno integer,
    trial647 character(1)
);


ALTER TABLE public.formmember OWNER TO postgres;

--
-- Name: formmember_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.formmember_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formmember_id_seq OWNER TO postgres;

--
-- Name: formmember_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.formmember_id_seq OWNED BY public.formmember.id;


--
-- Name: orgunit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orgunit (
    id integer NOT NULL,
    code character varying(50),
    name character varying(50),
    parentid integer,
    level integer
);


ALTER TABLE public.orgunit OWNER TO postgres;

--
-- Name: orgunit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orgunit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orgunit_id_seq OWNER TO postgres;

--
-- Name: orgunit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orgunit_id_seq OWNED BY public.orgunit.id;


--
-- Name: period; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.period (
    id integer NOT NULL,
    code character varying(255),
    name character varying(1024),
    note character varying(4000),
    fromdate date,
    todate date,
    isactive boolean,
    createddate date,
    createdby character varying(255),
    updateddate date,
    updatedby character varying(255)
);


ALTER TABLE public.period OWNER TO postgres;

--
-- Name: period_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.period_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.period_id_seq OWNER TO postgres;

--
-- Name: period_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.period_id_seq OWNED BY public.period.id;


--
-- Name: person; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.person (
    id integer NOT NULL,
    birthday timestamp with time zone,
    gender character(1),
    orgunitid integer,
    name character varying(255),
    idnumber character varying(255)
);


ALTER TABLE public.person OWNER TO postgres;

--
-- Name: person_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.person_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.person_id_seq OWNER TO postgres;

--
-- Name: person_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.person_id_seq OWNED BY public.person.id;


--
-- Name: program; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.program (
    id integer NOT NULL,
    code character varying(50),
    name character varying(512),
    note character varying(1024),
    trial651 character(1)
);


ALTER TABLE public.program OWNER TO postgres;

--
-- Name: program_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.program_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.program_id_seq OWNER TO postgres;

--
-- Name: program_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.program_id_seq OWNED BY public.program.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    userid character varying(255),
    name character varying(255),
    email character varying(255),
    pass character varying(255),
    type character varying(255),
    deletedyn boolean,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone,
    deletedtime timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: admin_roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles ALTER COLUMN id SET DEFAULT nextval('public.admin_roles_id_seq'::regclass);


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: dataelement id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dataelement ALTER COLUMN id SET DEFAULT nextval('public.dataelement_id_seq'::regclass);


--
-- Name: dataset id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dataset ALTER COLUMN id SET DEFAULT nextval('public.dataset_id_seq'::regclass);


--
-- Name: datasetmember id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.datasetmember ALTER COLUMN id SET DEFAULT nextval('public.datasetmember_id_seq'::regclass);


--
-- Name: form id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form ALTER COLUMN id SET DEFAULT nextval('public.form_id_seq'::regclass);


--
-- Name: form_instance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance ALTER COLUMN id SET DEFAULT nextval('public.form_instance_id_seq'::regclass);


--
-- Name: form_instance_value id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance_value ALTER COLUMN id SET DEFAULT nextval('public.form_instance_value_id_seq'::regclass);


--
-- Name: formmember id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formmember ALTER COLUMN id SET DEFAULT nextval('public.formmember_id_seq'::regclass);


--
-- Name: orgunit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orgunit ALTER COLUMN id SET DEFAULT nextval('public.orgunit_id_seq'::regclass);


--
-- Name: period id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.period ALTER COLUMN id SET DEFAULT nextval('public.period_id_seq'::regclass);


--
-- Name: person id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person ALTER COLUMN id SET DEFAULT nextval('public.person_id_seq'::regclass);


--
-- Name: program id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program ALTER COLUMN id SET DEFAULT nextval('public.program_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: SequelizeData; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SequelizeData" (name) FROM stdin;
202406010001-create-admin-user.js
\.


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admin_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dataelement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dataset; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: datasetmember; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.form (id, code, name, programid, filterfrom, filterto, explain) FROM stdin;
\.


--
-- Data for Name: form_instance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.form_instance (id, name, birthday, address, months, description, ispasses, gender, parentname, phone, surveyby, surveyplace, periodid, orgunitid, provinceid, districtid, personid, formid, createddate, createdby, updateddate, updatedby, surveynote) FROM stdin;
\.


--
-- Data for Name: form_instance_value; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.form_instance_value (id, forminstanceid, datasetmemberid, value, createddate, createdby, updateddate, updatedby, dataelementid) FROM stdin;
\.


--
-- Data for Name: formmember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.formmember (id, formid, datasetid, orderno, trial647) FROM stdin;
\.


--
-- Data for Name: orgunit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: period; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.period (id, code, name, note, fromdate, todate, isactive, createddate, createdby, updateddate, updatedby) FROM stdin;
1	06/2025	06/2025	\N	2025-06-01	2025-06-06	t	2025-06-09	Super admin	2025-06-20	Super admin
2	07/2025	Th├¡ ─æiß╗âm s├áng lß╗ìc cß╗Öng ─æß╗ông vß╗¢i app ECDD	\N	2025-07-01	2025-12-31	t	2025-07-11	Super admin	2025-07-11	Super admin
\.


--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.person (id, birthday, gender, orgunitid, name, idnumber) FROM stdin;
1	\N	\N	\N	\N	\N
\.


--
-- Data for Name: program; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.program (id, code, name, note, trial651) FROM stdin;
1	ecdd	s├áng lß╗ìc trß║╗ em khuyß║┐t tß║¡t	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: admin_roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_roles_id_seq', 4, true);


--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 4, true);


--
-- Name: dataelement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dataelement_id_seq', 8, true);


--
-- Name: dataset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dataset_id_seq', 4, true);


--
-- Name: datasetmember_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.datasetmember_id_seq', 4, true);


--
-- Name: form_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.form_id_seq', 4, true);


--
-- Name: form_instance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.form_instance_id_seq', 21849, true);


--
-- Name: form_instance_value_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.form_instance_value_id_seq', 336890, true);


--
-- Name: formmember_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.formmember_id_seq', 1, true);


--
-- Name: orgunit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orgunit_id_seq', 29, true);


--
-- Name: period_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.period_id_seq', 2, true);


--
-- Name: person_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.person_id_seq', 1, true);


--
-- Name: program_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.program_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 340, true);


--
-- Name: SequelizeData SequelizeData_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeData"
    ADD CONSTRAINT "SequelizeData_pkey" PRIMARY KEY (name);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: admin_roles admin_roles_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_code_key UNIQUE (code);


--
-- Name: admin_roles admin_roles_code_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_code_key1 UNIQUE (code);


--
-- Name: admin_roles admin_roles_code_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_code_key2 UNIQUE (code);


--
-- Name: admin_roles admin_roles_code_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_code_key3 UNIQUE (code);


--
-- Name: admin_roles admin_roles_code_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_code_key4 UNIQUE (code);


--
-- Name: admin_roles admin_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_roles
    ADD CONSTRAINT admin_roles_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key1 UNIQUE (email);


--
-- Name: admin_users admin_users_email_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key2 UNIQUE (email);


--
-- Name: admin_users admin_users_email_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key3 UNIQUE (email);


--
-- Name: admin_users admin_users_email_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key4 UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: dataelement dataelement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dataelement
    ADD CONSTRAINT dataelement_pkey PRIMARY KEY (id);


--
-- Name: dataset dataset_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dataset
    ADD CONSTRAINT dataset_pkey PRIMARY KEY (id);


--
-- Name: datasetmember datasetmember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.datasetmember
    ADD CONSTRAINT datasetmember_pkey PRIMARY KEY (id);


--
-- Name: form_instance form_instance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance
    ADD CONSTRAINT form_instance_pkey PRIMARY KEY (id);


--
-- Name: form_instance_value form_instance_value_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance_value
    ADD CONSTRAINT form_instance_value_pkey PRIMARY KEY (id);


--
-- Name: form form_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT form_pkey PRIMARY KEY (id);


--
-- Name: formmember formmember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formmember
    ADD CONSTRAINT formmember_pkey PRIMARY KEY (id);


--
-- Name: orgunit orgunit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orgunit
    ADD CONSTRAINT orgunit_pkey PRIMARY KEY (id);


--
-- Name: period period_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.period
    ADD CONSTRAINT period_pkey PRIMARY KEY (id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (id);


--
-- Name: program program_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program
    ADD CONSTRAINT program_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_adminRoleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT "admin_users_adminRoleId_fkey" FOREIGN KEY ("adminRoleId") REFERENCES public.admin_roles(id) ON UPDATE CASCADE;


--
-- Name: datasetmember datasetmember_dataelementid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.datasetmember
    ADD CONSTRAINT datasetmember_dataelementid_fkey FOREIGN KEY (dataelementid) REFERENCES public.dataelement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: datasetmember datasetmember_datasetid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.datasetmember
    ADD CONSTRAINT datasetmember_datasetid_fkey FOREIGN KEY (datasetid) REFERENCES public.dataset(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form_instance form_instance_formid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance
    ADD CONSTRAINT form_instance_formid_fkey FOREIGN KEY (formid) REFERENCES public.form(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form_instance form_instance_orgunitid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance
    ADD CONSTRAINT form_instance_orgunitid_fkey FOREIGN KEY (orgunitid) REFERENCES public.orgunit(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form_instance form_instance_periodid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance
    ADD CONSTRAINT form_instance_periodid_fkey FOREIGN KEY (periodid) REFERENCES public.period(id) ON UPDATE CASCADE;


--
-- Name: form_instance form_instance_personid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance
    ADD CONSTRAINT form_instance_personid_fkey FOREIGN KEY (personid) REFERENCES public.person(id) ON UPDATE CASCADE;


--
-- Name: form_instance_value form_instance_value_dataelementid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance_value
    ADD CONSTRAINT form_instance_value_dataelementid_fkey FOREIGN KEY (dataelementid) REFERENCES public.dataelement(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form_instance_value form_instance_value_datasetmemberid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance_value
    ADD CONSTRAINT form_instance_value_datasetmemberid_fkey FOREIGN KEY (datasetmemberid) REFERENCES public.datasetmember(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form_instance_value form_instance_value_forminstanceid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_instance_value
    ADD CONSTRAINT form_instance_value_forminstanceid_fkey FOREIGN KEY (forminstanceid) REFERENCES public.form_instance(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: form form_programid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form
    ADD CONSTRAINT form_programid_fkey FOREIGN KEY (programid) REFERENCES public.program(id) ON UPDATE CASCADE;


--
-- Name: formmember formmember_datasetid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formmember
    ADD CONSTRAINT formmember_datasetid_fkey FOREIGN KEY (datasetid) REFERENCES public.dataset(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: formmember formmember_formid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formmember
    ADD CONSTRAINT formmember_formid_fkey FOREIGN KEY (formid) REFERENCES public.form(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orgunit orgunit_parentid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orgunit
    ADD CONSTRAINT orgunit_parentid_fkey FOREIGN KEY (parentid) REFERENCES public.orgunit(id) ON UPDATE CASCADE;


--
-- Name: person person_orgunitid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_orgunitid_fkey FOREIGN KEY (orgunitid) REFERENCES public.orgunit(id) ON UPDATE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 26prnXcq5HggFlv4xKozNhaX0XXrRRUAZR2LaarUrnt1FkImcUu0alVqYrxuBjw

